[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
click = "*"
dynaconf = "*"
sqlalchemy = "*"
pydantic = "*"
mysqlclient = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
requests = "*"
isort = "*"
pytest-cov = "*"
flake8 = "*"
tox = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
